.paymentImgContainer {
  background-color: rgba(223, 138, 98, 0.575);
  height: 120px;
  width: 220px;
  padding: 10px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.PaymentsSoftwareContainer {
  position: relative;
}
.PaymentsSoftware {
  position: absolute;
  width: 96%;
  background-color: rgba(0, 0, 0, 0.63);
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0px 0px 2%;
}
.PaymentsSoftware .h3,
.p {
  color: white;
  text-align: center;
  margin: 0px;
}
.PaymentsSoftware .p{
    padding: 10px 60px;
}

@media screen and (max-width:1000px) {
    .PaymentsSoftware p{
        padding: 10px 30px;
    }
}

@media screen and (max-width:680px) {
    .PaymentsSoftware p{
        padding: 10px 18px;
       
    }
  
      .PaymentsSoftware {
        position: relative;
        width: 96%;
        background-color: rgba(0, 0, 0, 0.979);
        border-radius: 20px;
        padding: 10px;
        margin: 20px 0px 0px 2%;
      } 
      .PaymentsSoftwareContainerImg{
        display: none;
      }
}

@media screen and (max-width:400px) {
    /* .PaymentsSoftware p{
        padding: 5px 10px;
    }
    .PaymentsSoftwareContainer {
        position: relative;
        height: 500px;
      }
      .PaymentsSoftware {
        position: absolute;
        width: 96%;
        background-color: rgba(0, 0, 0, 0.63);
        border-radius: 20px;
        padding: 10px;
        margin: 20px 0px 0px 2%;
      } */
}

@media screen and (max-width:350px) {
    /* .PaymentsSoftware p{
        padding: 5px 10px;
    }
    .PaymentsSoftwareContainer {
        position: relative;
        height: 550px;
      }
      .PaymentsSoftware {
        position: absolute;
        width: 96%;
        background-color: rgba(0, 0, 0, 0.63);
        border-radius: 20px;
        padding: 10px;
        margin: 20px 0px 0px 2%;
      } */
}

/* 
@media screen and (max-width:320px) {
  .PaymentsSoftware .p {
    padding: 10px 49px;
}
  .PaymentsSoftwareContainer {
      position: relative;
      height: 600px;
    }} */