.ContactUSFormContainer {
  background-color: #252424;
  padding: 20px;
  margin: 10px;
  position: relative;
  margin-top: 130px;
  padding-top: 90px;
}
.ContactUSFormContainer h2 {
  color: white;
  margin-top: 40px;
}
.ContactUSFormContainer p {
  color: white;
  margin: 10px;
}
.ContactDetainsContainer {
  width: 100%;
  position: absolute;
  top: -120px;
}
.OrangrCircleImgcontactus {
  width: 100%;
  height: 100px;
  padding: 0px 13px;
}
.OrangrCircleContainercontactus {
  background-color: #ff954d;
  width: 178px;
  height: 178px;
  margin: 10px;
  padding: 12px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  flex-direction: column;
  transition: 0.7s;
}
.contectCirculeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.detailsContainer{
  display: none;
}

@media screen and (max-width: 500px) {
  .detailsContainer{
    display: block;
  }
  .details .Atag{
    background-color:#ff954d ;
    padding: 10px;
    border-radius: 10px;
   
  }
  .details{
   
   
  }
  
}
@media screen and (max-width: 500px) {
  .ContactUSFormContainer {
    background-color: #252424;
    padding: 20px 0px;
    margin: 5px;
   
    padding-top: 30px;
  }
  .ContactDetainsContainer{
    display: none;
  }
}
